<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentors List</title>
</head>
<body>
    <h1>Mentors List</h1>
    <% mentors.forEach(mentor => { %>
        <div style="border: solid 5px black;">
            <h1>User name : <%= mentor.username %></h1>
            <h1>Name : <%= mentor.Name %></h1>
            <h2>Email :  <%= mentor.email %></h2>
            <h2>Role : <%= mentor.role %></h2>
            <h2>Bio : <%= mentor.bio %></h2>
            <h2>Qualification : <%= mentor.qualification %></h2>
            <img src="<%= mentor.profileImage %>" alt="<%= mentor.Name %>" style="width: 100px; height: 100px;" >

            <form action="/admin/deleteAdmin/<%= mentor._id %>" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% }) %>
</body>
</html>